@media all and (max-width: 420px ) {
  .row{
   width: 100%;
   margin-top: 0;
 }

 /* BLOCCO LEZIONI */
 #lezioni .row>.left,
 #lezioni .row>.right {
   width: 100%;
   float: none;
 }

  img{
    height: auto;
    width: 35%;
  }
 /* Sezione Come Funziona */
 #steps .row>.left,
 #steps .row>.central,
 #steps .row>.right {
   float: none;
   width: 100%;
   margin-top: 10px;
 }

  .row h1{
    margin-top: 60px;
  }

  .left img{
   margin: 30px auto;
  }

  .central img{
    margin: 30px auto;
  }

  .right img{
    margin: 30px auto;
  }

  /* Sezione perchè */

  #why .row>.first, #why .row>.second, #why .row>.third {
    width: 100%;
    margin-top:30px;
  }
}
